<!DOCTYPE html>
<html>
<head>
    <title>Owner - View All</title>
</head>
    <body>
        <h1>Owners</h1>
        <a href="/owner/add">Add New Owner</a> <br /> <br />

        <table border="1">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team Name</th>
                <th>Actions</th>
            </tr>
            <% for(var i = 0; i < owners.length; i++) { %>
                <tr>
                    <td>
                        <a href="/owner/?owner_id=<%= owners[i].owner_id %>">
                            <%= owners[i].owner_id %>
                        </a>

                    </td>

                    <td>
                        <a href="/owner/?owner_id=<%= owners[i].owner_id %>">
                            <%= owners[i].first_name %>
                        </a>

                    </td>

                    <td>
                        <a href="/owner/?owner_id=<%= owners[i].owner_id %>">
                            <%= owners[i].last_name %>
                        </a>
                    </td>
                    <td>
                        <a href="/owner/?owner_id=<%= owners[i].owner_id %>">
                            <%= owners[i].owner_team %>
                        </a>
                    </td>


                    <td>
                        <a href='/owner/edit/?owner_id=<%= owners[i].owner_id %>'>
                            Edit
                        </a>
                    </td>

                </tr>
            <% } %>
        </table>
    </body>
</html>