<!DOCTYPE html>
<html>
<head>
    <title>Team - View All</title>
</head>
    <body>
        <h1>Teams</h1>
        <a href="/team/add">Add New Team</a> <br /> <br />

        <table border="1">
            <tr>
                <th>ID</th>
                <th>Team Name</th>
                <th>Team State</th>
                <th>Actions</th>
            </tr>
            <% for(var i = 0; i < teams.length; i++) { %>
            <tr>
                <td>
                    <%= teams[i].team_id %>
                    </a>

                </td>

                <td>
                    <%= teams[i].team_name %>
                    </a>

                </td>

                <td>
                    <%= teams[i].team_state %>
                    </a>
                </td>

                <td>
                    <a href='/team/edit/?team_id=<%= teams[i].team_id %>'>
                        Edit

                        <a href="/team/delete?team_id=<%= teams[i].team_id %>">Delete</a>
                    </a>
                </td>

            </tr>
            <% } %>
        </table>
        <% if(locals.was_successful_delete) { %>
        <div>
            <p>Team successfully deleted</p>
        </div>
        <% } %>
    </body>
</html>